* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-1: #FFFFFF;
    --color-2-1: #03050F;
    --color-2-2: #02012A;
    --color-3-1: #070D1D;
    --color-3-2: #a209b6;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, var(--color-2-1), var(--color-2-2));
}

.landing-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.img-coding {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.greeting {
    margin: 24px auto;
    font-size: 50px;
    font-family: sans-serif;
    color: var(--color-1);
}

.auto-typing{
    margin: 24px auto;
    font-size: 50px;
    font-family: sans-serif;
    color: transparent;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
}

.input, .btn, .ready-btn {
    outline: none;
    font-size: 16px;
    width: 100%;
    color: var(--color-1);
    background: transparent;
    padding: 16px;
    border-radius: 32px;
    transition: all 0.3s;
}

.input {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.input:hover, .input:focus {
    border: 1px solid var(--color-1);
}

.btn {
    border: none;
    background-image: linear-gradient(0deg, var(--color-3-2) 0%, var(--color-3-1));
}

.ready-btn {
    border: none;
    background-color: var(--color-3-2);
    box-shadow: 3px 3px 32px 3px rgba(208, 0, 255, 0.5);
}

.ready-btn:hover {
    transform: scale(0.98);
}

@media screen and (max-width: 380px) {
    .img-coding {
        width: 150px;
        height: 150px;
    }
    .form {
        width: auto;
    }
    .input, .btn, .ready-btn {
        padding: 12px 16px;
        font-size: 14px;
    }
}

.error {
    color: red;
    padding: auto auto 32px auto;
    font-family: cursive;
    font-size: 20px;
}

.wrong-code {
    background-color: #ffffff;
    width: 200px;
    height: 100px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -100%;
    animation: error 1s;
    border-radius: 128px;
}

@keyframes error {
    0% {
        top: -100%;
    }
    20% {
        top: 30%;
    }
    40% {
        top: 30%;
    }
    60% {
        top: 30%;
    }
    80% {
        top: 30%;
    }
    100% {
        top: -100%;
    }
}